body {
    background-color: silver;
}

.board {
    text-align: center;
    margin: 140px;


}

.header {
    margin: 25px 0 0 0;
    font-family: 'Bowlby One SC', cursive;
    text-align: center;
}

h2 {
    font-family: 'Bowlby One SC', cursive;
}

.t-color {
    color: red;
}

.cells {
    width: 150px;
    height: 150px;
    margin: 2px;
    border: 10px solid black;
    display: inline-block;
}


.restart {
    display: block;
    margin: 0 620px 0 0;
    margin: 0 auto;
    font-family: 'Bowlby One SC', cursive;
    font-size: 30px;
    padding: 10px 10px;
    color: black;
    text-decoration: none;

    border-bottom: 5px solid black;
    border-left: 5px solid red;
    border-right: 5px solid red;
    border-top: 5px solid black;
}

p {
    font-family: 'Bowlby One SC', cursive;
    text-align: center;
    font-size: 20px;
}

/* @media is where to make the game responsive 
if less than 490px then do the changes below */
@media (max-width:490px) {
    .cells {
        width: 25%;
        height: 70px;
        margin: 1px;
        border: 3px solid black;
    }

    .board {

        margin: 0 auto;
    }

    .restart {
        font-size: 20px;
        padding: 4px 4px;
    }

    p {
        font-size: 15px;
    }
}